@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
}



//! variables

$color-nav: black;
$color-letras: white;


//! listas
$colores: gray solid, crimson, black;

body {
    font-family: "Josefin", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.navbar-color {
    background-color: $color-nav
}

.nav-link {
    color: white;
}
